{% extends 'core/base.html' %}

{% block content %}
  <style>
    .container {
      display: flex;
      justify-content: center;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .form-title {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .form-submit {
      margin: 0 auto;
      display: block;
      margin-top: 20px;
      background-color: #8a3e86;
      color: white;
      border-radius: 5px;
      padding: 8px 16px;
    }

    .form-submit:hover {
      background-color: #4f224d;
    }

    form {
      text-align: right;
    }

    form div {
      margin-bottom: 20px;
    }

    input[type="text"] {
      border-radius: 5px;
      padding: 8px;
      max-width: 200px;
    }
  </style>

  <div class="container">
    <div class="form-container">
      <h2 class="form-title">Сброс пароля</h2>
      <form method="post">
        {% csrf_token %}
        <div>
          <label for="id_username">Имя пользователя:</label>
          <input type="text" name="username" id="id_username">
        </div>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li
          {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <button type="submit" class="form-submit">Сбросить пароль</button>
      </form>
    </div>
  </div>
{% endblock %}
