{% extends 'core/base.html' %}

{% block content %}
  <style>
    .container {
      display: flex;
      justify-content: center;
    }

    .success-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .success-title {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .success-text {
      margin-bottom: 10px;
    }

    .new-password {
      background-color: #f0f0f0;
      padding: 5px;
      font-weight: bold;
      color: black;
    }
  </style>

  <div class="container">
    <div class="success-container">
      <h2 class="success-title">Пароль успешно сброшен</h2>
      <p class="success-text">Ваш новый пароль: <span class="new-password">{{ new_password }}</span></p>
      <p class="success-text">Вы можете использовать новый пароль для входа в систему</p>
    </div>
  </div>
{% endblock %}
