{% extends 'core/base.html' %}

{% block content %}
<style>
    .block {
      background-color: #d3d9e3;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      color: #4f4d4d;
      font-size: 1.3rem;
      font-weight: 500;
    }

    .block h2 {
      margin-top: 0;
      text-align: left;
    }

    .block h2:first-child {
      margin-top: 20px;
    }

    .edit-button {
      background-color: #8a3e86;
      color: white;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 5px 5px 0 0;
      text-decoration: none;
      font-size: 1.3rem;
      margin-right: 5px;
    }

    .logout-button {
      background-color: #4f224d;
      color: white;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 5px 5px 0 0;
      text-decoration: none;
      font-size: 1.3rem;
    }

    .order-link {
      color: #8a3e86;
      text-decoration: none;
    }

    /* Отключение подчеркивания текста */
    .order-link, .logout-button {
      text-decoration: none;
    }
 .history-button {
    background-color: #4f224d;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 4px 8px;
  }
 </style>

<div style="margin-top: 20px;" class="container">
  <div class="row">
    <div style="text-align: left;" class="col-md-12">
      <h2>Личные данные
        <a href="{% url 'profile_edit' %}" class="edit-button"> Редактировать профиль <i class="fas fa-pencil-alt button-icon"></i></a>
        <a href="{% url 'logout' %}" class="logout-button">Выйти из аккаунта <i class="fas fa-times button-icon"></i></a>
        <a href="{% url 'password_change' %}" class="edit-button">Сменить пароль <i class="fas fa-cog button-icon"></i></a>
         {% if user.is_superuser %}
        <a href="{% url 'paper_list' %}" class="logout-button">Админ-панель <i class="fas fa-lock button-icon"></i></a>
        {% endif %}
      </h2>
      <div class="block">
        <div class="row justify-content-center">
          <div class="col-md-4 text-center">
            <img style="box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);" src="{{ user.profile.photo.url }}" alt="Profile Photo" width="200" height="200">
          </div>
          <div class="col-md-8 text-left">
            <p>Имя пользователя: {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}не указано{% endif %}</p>
            <p>Email: {% if user.email %}{{ user.email }}{% else %}не указано{% endif %}</p>
            <p>Номер телефона: {% if user.profile.phone_number %}{{ user.profile.phone_number }}{% else %}не указано{% endif %}</p>
            <p>Логин: {{ user.username }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div style="text-align: left;" class="col-md-6">
      <h2>Адрес</h2>
      <div class="block">
        <p>Улица: {% if user.profile.street %}{{ user.profile.street }}{% else %}не указано{% endif %}</p>
        <p>Дом: {% if user.profile.house_number %}{{ user.profile.house_number }}{% else %}не указано{% endif %}</p>
        <p>Квартира: {% if user.profile.apartment_number %}{{ user.profile.apartment_number }}{% else %}не указано{% endif %}</p>
        <p>Город: {% if user.profile.city %}{{ user.profile.city }}{% else %}не указано{% endif %}</p>
      </div>
    </div>
    <div style="text-align: left;" class="col-md-6">
      <h2>Заказы</h2>
      <div class="block">
        {% if orders %}
        <ul>
          {% for order in orders %}
          <li>
            <a href="{% url 'order_list' %}" class="order-link">Заказ №{{ order.id }}</a>
            - Итоговая сумма: {{ order.total_price }}
            - Дата: {{ order.order_date }}
            - Адрес: {{ order.address }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>У вас пока нет заказов.</p>
        {% endif %}
        {% if has_more_orders %}
        <a href="{% url 'order_list' %}" class="history-button">История заказов</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
