{% extends 'core/base.html' %}

{% block content %}
    <style>
        .form-container {
            width: 50%;
            margin: 0 auto;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            text-align: left;
        }

        input[type="text"],
        textarea {
            width: 100%;
            max-width: 500px;
            border-radius: 5px;
            padding: 8px;
        }

        .form-submit {
            margin-top: 20px;
            background-color: #8a3e86;
            color: white;
            border-radius: 5px;
            padding: 8px 16px;
        }

        .form-submit:hover {
            background-color: #4f224d;
        }

        .log-button {
            color: #ba54b5;
            font-size: 1.1rem;
        }

        .form-container div {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .form-container div.center {
            justify-content: center; /* Добавляем выравнивание по центру */
        }
    </style>

    <div class="form-container">
        <h2 class="form-title">Редактирование статьи</h2>
        <br>
        <form method="post" action="{% url 'edit_paper' paper_id=paper.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label style="margin-right: 28px;" for="title">Название:</label>
                <input type="text" name="title" value="{{ paper.title }}" required>
            </div>
            <br>
            <div>
                <label style="margin-right: 10px;" for="textOfPaper">Текст статьи:</label>
                <textarea name="textOfPaper" required rows="10" cols="50" style="width: 100%;">{{ paper.textOfPaper }}</textarea>
            </div>
            <br>
            <div>
                <label style="margin-right: 10px;" for="pictureOfPaper">Изображение:</label>
                <input type="file" name="pictureOfPaper">
            </div>
            <div class="center">
                <input type="submit" value="Сохранить" class="form-submit">
            </div>
        </form>
    </div>
{% endblock %}
