{% extends 'Core/base.html' %}
{% load static %}
{%block tittle%}
Успех
{%endblock%}

{% block content %}

<div class="container fpaper">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Мы отправили на ваш email инструкцию для восстановления пароля
		  </p>
		  <p class="m-auto p-2">
		    Если вы не получили письмо, убедитесь, что вы ввели адрес, с которым вы зарегистрировались, и проверьте папку со спамом.
		  </p>
		  <p class="flinka"><a  class="flinka" href="{% url 'home' %}">Возврат на домашнюю страницу</a></p>
	</div>
</div>

{% endblock %}